.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Generic padding */
.main {
  text-align: center;
  padding: 25px 50px 25px 50px;
}
/* Field params */
.field {
  height: 500px;
  border: 2px solid black;
  position: relative;
  overflow-y: hidden;
}
/* Dot positioning */
.word {
  border: 1px solid #000;
  position: absolute;
}
/* centered page */
.centered {
  height: 100vh; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* img */
.photo {
  height: 120px;
  width: 120px;
  margin-left: 350px;
}
/* right side of home */
.right1 {
  margin-top: -465px;
  margin-bottom: 50px;
}
/* right side of home */
.right2 {
  margin-top: auto;
  margin-bottom: 40px;
}
/* right side of home */
.right3 {
  margin-top: 45px;
}
.jumbotron {
  background-color:#e0ffff!important;
}
/* Modify the backgorund color */ 
.navbar-custom { 
  background-color:#20B2AA; 
} 
